<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    -->
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<body>
    <div class="container-fluid" ml-5 mr-5>
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>

        <!-- Mars News -->
        <div class="row" ml-5 mr-5>
            <h3 class="heading">{{Mars.title}}</h3>
            <p> {{Mars.para}}</p>
        </div>

        <!-- Mars images and Mars facts -->
        <div class="row">
            <div class="col-md-9" p-5>
                <img src={{Mars.images}}>
            </div>
            <div class="col-md-3">
                <table class=dataframe> {{Mars.facts}} </table>
            </div>
        </div>

        <!-- Mars hemisphere images -->
        <div class="row">
            <div class="row" ml-5 mr-5>
                <div class="col-md-6" p-5>
                    <img src={{Mars.hemis[0]}}>
                </div>
                <div class="col-md-6" p-5>
                    <img src={{Mars.hemis[1]}}>
                </div>
            </div>
            <div class="row" p-5>
                <div class="col-md-6">
                    <img src={{Mars.hemis[2]}}>
                </div>
                <div class="col-md-6" p-5>
                    <img src={{Mars.hemis[3]}}>
                </div>
            </div>
        </div>
    </div>

</body>

</html>